<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askey.dvr.cdr7010.setting"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <!-- 格式化SD卡 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.location" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".application.SettingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoAnimation">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.system.ui.SystemSetting" />
        <activity android:name=".module.parking.ui.ParkingRecordSetting" />
        <activity android:name=".module.movie.ui.MovieRecordSetting" />
        <activity android:name=".module.system.ui.LCDBrightnessSetting" />
        <activity android:name=".module.system.ui.DateTimeSetting" />
        <activity android:name=".module.system.ui.ManualDateTimeSetting" />
        <activity android:name=".module.system.ui.NotificationSoundSetting" />
        <activity android:name=".module.system.ui.PlaybackSoundSetting" />
        <activity android:name=".module.system.ui.MonitorScreenPowerSavingSetting" />
        <activity android:name=".module.system.ui.MonitorTimeSettings" />
        <activity android:name=".module.system.ui.MonitorOperationSettings" />
        <activity android:name=".SetWizardHelpActivity" android:launchMode="singleTop"/>
        <activity android:name=".module.system.ui.PreviewActivity" />


        <receiver
            android:name=".broadcast.SdcardReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".module.settingsprovider.SettingsProvider"
            android:authorities="com.askey.dvr.cdr7010.setting.provider"
            android:exported="true" />

        <activity android:name=".module.parking.ui.RecordingTimeActivity" />
        <activity android:name=".module.movie.ui.AudioRecordActivity" />
        <activity android:name=".module.movie.ui.ImpactSensitivityActivity" />
        <activity android:name=".module.movie.ui.InformationStampActivity" />
        <activity android:name=".module.dirving.ui.DrivingSetting" />
        <activity android:name=".module.dirving.ui.SwitchActivity" />
        <activity android:name=".module.sdcard.ui.SdcardSetting" />
        <activity android:name=".module.sdcard.ui.SdcardInitialization" />
        <activity android:name=".module.sdcard.ui.SdcardInformation" />
        <activity android:name=".module.dirving.ui.RangeSettingActivity" />
        <activity android:name=".module.notifacation.ui.NotificationSetting" />
        <activity android:name=".module.notifacation.ui.NotifySwitchActivity" />
        <activity android:name=".module.vehicle.ui.VehicleTypeSetting" />
        <activity android:name=".module.system.ui.SystemInformation" />
        <activity android:name=".module.system.ui.SystemInfoDetailActivity" />
        <activity android:name=".module.system.ui.InstallationToolSetting" />
        <activity android:name=".module.system.ui.LevelerActivity" />
        <activity android:name=".module.system.ui.SatelliteReceptionStatus" />
        <activity android:name=".module.system.ui.LevelerDetailActivity" />
        <activity android:name=".module.system.ui.BluetoothSetting" />
        <activity android:name=".module.communication.ui.CommunicationSetting" />
        <activity android:name=".module.communication.ui.EmergencyAutomaticNotification" />
        <activity android:name=".module.communication.ui.EmergencyContactPerson" />
        <activity android:name=".module.system.ui.MountingPositionSetting" />
        <activity android:name=".module.service.ui.ServiceSetting" />
        <activity android:name=".module.service.ui.HelpActivity" />
        <activity android:name=".module.service.ui.LocationInformationNotified" />
        <activity android:name=".module.service.ui.WeatherReport" />

        <service
            android:name=".module.system.controller.PlaybackSoundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PlaybackSoundService" />
            </intent-filter>
        </service>

        <activity android:name=".module.user.ui.UserSelectActivity"></activity>
    </application>

</manifest>